@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Quicksand:wght@500&display=swap');

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}

body { 
   background-image: linear-gradient(#ffffff, #ffffff); 
   background-color: #000000;
}

:root{
  font-size: 1.6rem;
  scroll-behavior: smooth;
}

.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  box-shadow: 10px 5px 20px rgba(0,0,0,0.2);
  width: 100%;
  height: 2rem;
  background: linear-gradient(90deg, #00F9FF, blueviolet);
}

.navBanner{
  height: 70%;
  margin-left: 0.5rem;
  border-radius: 50%;
}

.navBtns{
  display: flex;
  gap: clamp(0.5rem, 1.3rem, 2rem);
  justify-content: space-around;
  margin-right: 1rem;
}

.navButton{
  color: white;
  font-size: clamp(0.4rem, 0.6rem, 1rem);
  text-decoration: none;
  text-shadow: 0px 0px 0px white;
  transform: scale(1);
  transition: transform 0.3s;
}

.navButton:hover{
  text-shadow: 0px 0px 10px white;
  transform: scale(1.1);
}

header{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  
}

.landing{
  padding: 3rem 0rem 0rem 1.5rem;
}


.landing h1{
  font-size: 1.7rem;
}

.landing span{
  font-size: 1.7rem;
  font-weight: bold;
  background: linear-gradient(to right, #33EEFF, #8733FF);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 300%;
  background-position: right;
  
  animation: colorChange 2s linear infinite alternate;
  
}

.landing span.yo {
  font-size: 1.7rem;
  font-weight: bold;
  color: #FFB100;
  animation: none;
  background: none;
}

.landing a{
  text-decoration: none;
}

.landing button{
  display: inline-block;
  padding: 0.35rem 0.8rem;
  margin-top: 1rem;
  font-size: 0.7rem;
  border-radius: 0.3rem;
  border: 2px solid rgba(138, 0, 255, 1);
  background-color: white;
  color: rgba(138, 0, 255, 1);
  transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.landing button:hover{
  background-color: rgba(138, 0, 255, 1);
  color: white;
}



#about{
  display: flex;
  flex-wrap: wrap;
  padding: 2rem 0;
  justify-content: center;
}

#aboutText{
  color: rgba(0,0,0,0.8);
  text-align: justify;
  font-size: 0.75rem;
  padding: 0rem 1.5rem;
  font-weight: 200;
}

#pf{
  display: block;
  width: 12rem;
  height: 12rem;
  filter: saturate(90%);
  border-radius: 50%;
  margin: 4rem 2rem 0rem 10px;
  border: 3px solid rgba(138, 0, 255, 1);
}

.mySkills{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.skills{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.outer{
  display: grid;
  place-items: center;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background: conic-gradient(rgba(178, 0, 255, 1) , #00FFF3 var(--percent), #FFFFFF 0deg);
  margin: 20px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.inner{
  display: grid;
  place-items: center;
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1) inset;
  font-size: 0.6rem;
}

.skillTitle{
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.line{
  width: 1rem;
  height: 1px;
  background-color: dimgray
}

#hobbies{
  margin-top: 4rem;
}

.cardsContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}

.hobbyCard{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 8rem;
  width: 14rem;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.15);
  transition: box-shadow 0.4s, transform 0.4s;
}

.hobbyCard:hover{
  transform: scale(1.05);
  box-shadow: 0px 0px 20px rgba(0,0,0,0.1);
}

.hobbyCard h2{
  color: #5D00FF;
  font-size: 0.7rem;
  text-align: center;
  margin: 0.5rem 0;
}

.hobbyCard img{
  width: 50%;
  object-fit: cover;
  
}

.contactTitle{
  font-size: 1.5rem;
  margin: 1rem 0rem;
}

#contact{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
  background-color: #39009D;
  color: #EEE4FF;
}

#contact p{
  font-size: 0.6rem;
  text-align: center;
  padding: 0 1rem 2rem 1rem;
}


#more{
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.moreTitle{
  font-size: 1.3rem;
  text-align: center;
  border: 2px solid white;
  box-shadow: 0px 0px 20px lightgray;
  background-color: blueviolet;
  color: white;
  padding: 0.2rem 1rem;
  border-radius: 10px;
  margin-bottom: -1.2rem;
  z-index: 1;
}

.moreContent{
  background-color: rgba(0,0,0,0.05);
  border: 1px solid whitesmoke;
  width: 100%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px lightgray;
}

.moreContent p{
  font-size: 0.7rem;
  padding: 2rem 1.2rem;
}



@keyframes colorChange{
  0%{
    background-position: left;
  }
  100%{
    background-position: right;
  }
}


@media only screen and (max-width: 700px){
  #pf{
    margin: 4rem auto 0rem auto;;
  }
  
  
}
